<h1>List of Blogs</h1>

<%= link_to 'Create new blog', new_blog_path %>

<% if @blogs.empty? %>
    <h1>No Blogs in app</h1>

<% else %>
    <table>
      <tr>
        <th>Blog name</th>
        <th>Actions</th>
      </tr>

      <% @blogs.each do |blog| %>
          <tr>
            <td> <%= link_to blog.name, blog_path(blog) %> </td>
            <td> <%= link_to 'Edit', edit_blog_path(blog) %> </td>
            <td> <%= link_to 'Remove', blog_path(blog),
                             method: :delete,
                             data: {confirm: 'Are you sure?'}%> </td>
          </tr>
      <% end %>

    </table>

<% end %>

