<h1>List of Articles</h1>

<%= render partial: "table", object: @articles, as: "items" %>

<h1>List of unassigned Articles</h1>

<%= render partial: "table", object: @unassigned_articles, as: "items" %>
